 * {
     box-sizing: border-box;
     margin: 0;
     font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     background: whitesmoke;
     color: black;
}

header {
     border: black 2px solid;
     background: rgb(131, 62, 62);
     width: 95%;
     margin: 0 auto;
     padding: 10px;
     margin-bottom: 25px;
     height: 85px;
}

header h1 {
     font-size: 3.5em;
     font-style: oblique;
     background: transparent;
     color: whitesmoke;
}

footer {
    border: black 2px solid;
    background: rgb(131, 62, 62);
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 25px;
}

footer h4 {
    font-size: .9em;
    font-style: oblique;
    background: transparent;
    color: whitesmoke;
    text-align: center;
}


.main {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    border: black 2px solid;
    background: rgb(131, 62, 62);
}

.timerBox {
    display: flex;
    align-items: center;
    width: 90%;
    flex-direction: column;
    background: transparent;
    padding: 5px;
}

.scores {
    width: 90%;
    height: 300px;
    align-content: center;
}

table {
    width: 100%;
}


.timerBox h2 {
    background: transparent;
    margin-bottom: 10px;
}

table tbody {
    width: 100%;
    text-align: center;
}

#current-score {
    border: black 2px solid;
    width: 100%;
    font-size: 35px;
    font-weight:300;
    text-align: center;
    color: black;
}

#reset-button {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 50px;
}

.quizBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: black 2px solid;
    border-left: transparent;
    background: rgb(175, 134, 134);
    flex-direction: column;
    padding: 30px;
}

.questionText {
     font-size: 1.8em;
     font-weight:normal;
     color: black;
     background: transparent;
     height: 100px;
}

#answerBoxes {
     display: flex;
     flex-wrap:wrap;
     justify-content: space-around;
     background: transparent;
     width: 95%;
}

#answerBoxes div {
    display: flex;
    border: black 1px solid;
    height: 125px;
    flex: 1 1 46%;
    margin: 2%;
    font-size: 15px;
    align-items: center;
    border-radius: 25px; 
 }
 
#answerBoxes div p {
    font-size: 1.1em;
     width: 95%;
     margin: 0 auto;
     text-align: center;
     background: transparent;
     color: black;
}

 .correct_answer {
     background: rgb(6, 240, 6);
     font-weight: bolder;
 }

.wrong_answer {
     background: rgb(246, 3, 3);
     color: yellow;
     font-weight: bolder;
 }


#start-button {
    width: 80%;
    font-size: 35px;
    border-radius: 10px;
    background: whitesmoke;
    color: black;
    font-weight:300;
}

@media screen and (max-width: 1500px) {
    #answerBoxes div {
        height: 100px;
     }
}

@media screen and (max-width: 1300px) {
    #answerBoxes div {
        flex: 1 1 50%;
     }
}

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column-reverse;
    }
    
    .left-side {
        width: 100%;
        padding: 10px;
        border-top: transparent;
        flex-direction: row;
        justify-content:space-around;
        align-items: flex-start;
    }

    .questionText {
        /* font-size: 22px; */
        /* background: transparent; */
        /* height: 100px; */
    }



}